{% extends 'base.html' %}

{% load static %}



{% block content %}
<!-- Breadcrumb Area -->
<div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="{% static 'assets/images/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="tm-breadcrumb">
            <h2>Edit User</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>My Account</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<!-- Page Content -->
<main class="page-content">

    <!-- My Account Area -->
    <div class="tm-section tm-my-account-area bg-white tm-padding-section">
        <div class="container">
            <div class="tm-myaccount">
                {% include 'account/menu.html' %}
                <div>
                    <div class="tm-myaccount-acdetails">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success mb-4">{{ message }}</div>
                                {% else %}
                                    <div class="alert alert-danger mb-4">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <form method="post" enctype="multipart/form-data" class="tm-form tm-form-bordered">
                            {% csrf_token %}
                            <h4>Edit User</h4>
                            <div class="tm-form-inner">
                                <div class="tm-form-field">
                                    <label for="acdetails-name">Name</label>
                                    <input type="text" id="acdetails-name" name="username" value="{{ user_item.get_username }}" required>
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-email">Email</label>
                                    <input type="email" id="acdetails-email" name="email" value="{{ user_item.email }}" required>
                                </div>
                                <div class="tm-form-field">
                                    <input type="checkbox" name="admin" value="true" id="admin" {% if user_item.is_superuser %}checked{% endif %}>
                                    <label for="admin">Is Admin</label>
                                </div>
                                <div class="tm-form-field">
                                    <button type="submit" class="tm-button">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// My Account Area -->

</main>
<!--// Page Content -->
{% endblock content %}
    