{% extends 'base.html' %}

{% load static %}



{% block content %}
<!-- Breadcrumb Area -->
<div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="{% static 'assets/images/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="tm-breadcrumb">
            <h2>Create Product</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>My Account</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<!-- Page Content -->
<main class="page-content">

    <!-- My Account Area -->
    <div class="tm-section tm-my-account-area bg-white tm-padding-section">
        <div class="container">
            <div class="tm-myaccount">
                {% include 'account/menu.html' %}
                <div>
                    <div class="tm-myaccount-acdetails">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success mb-4">{{ message }}</div>
                                {% else %}
                                    <div class="alert alert-danger mb-4">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <form method="post" enctype="multipart/form-data" class="tm-form tm-form-bordered">
                            {% csrf_token %}
                            <h4>Create Product</h4>
                            <div class="tm-form-inner">
                                <div class="tm-form-field">
                                    <label for="acdetails-name">Name</label>
                                    <input type="text" id="acdetails-name" name="name" required>
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-price">Price</label>
                                    <input type="number" id="acdetails-price" name="price" required>
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-image">Image</label>
                                    <input type="file" class="p-2" id="acdetails-image" name="image" required>
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-brand">Brand</label>
                                    <input type="text" id="acdetails-brand" name="brand" required>
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-stock">Stock</label>
                                    <select name="stock" id="acdetails-stock">
                                        {% for stock in stocks %}
                                            <option value="{{ stock.0 }}">{{ stock.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-category">Category</label>
                                    <input type="text" id="acdetails-category" name="category" required>
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-description">Description</label>
                                    <textarea cols="30" rows="5" id="acdetails-description" name="description" required></textarea>
                                </div>
                                <div class="tm-form-field">
                                    <button type="submit" class="tm-button">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// My Account Area -->

</main>
<!--// Page Content -->
{% endblock content %}
    